<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="sqlConn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=dbLibrary;Integrated Security=true;user id=sqlUserLibrary;Password=e2zG#e7e2z5" providerName="System.Data.SqlClient" />
    <!--<add name="sqlConn" connectionString="Data Source=www.websiteniz.xyz\MSSQLSERVER2012; Initial Catalog=dbLibrary;Persist Security Info=true;user id=sqlUserLibrary;Password=e2zG#e7e2z5" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
</configuration>
